<a href="https://colab.research.google.com/github/paulboal/hds5210-2023-private/blob/main/week15/module45_snowflake.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install "snowflake-connector-python[pandas]"

In [60]:
import snowflake.connector

if con:
  con.close()

con = snowflake.connector.connect(
    user='demo',
    password='Tc$NS*Fz2jX2WB35',
    account='PLEARRH-TR68815',
    database='DEMO',
    schema='PUBLIC',
    warehouse='COMPUTE_WH',
    session_parameters={
        'QUERY_TAG': 'Demo User Interaction',
    }
)

In [61]:
# con.cursor().execute('use database demo')
# con.cursor().execute('use schema public')
df = con.cursor().execute('''
  select current_account(),
         current_timestamp(),
         current_database(),
         current_schema(),
         current_warehouse();''').fetch_pandas_all()

In [62]:
df

,CURRENT_ACCOUNT(),CURRENT_TIMESTAMP(),CURRENT_DATABASE(),CURRENT_SCHEMA(),CURRENT_WAREHOUSE()
0,AS64885,2023-12-01 07:24:34.696000-08:00,DEMO,PUBLIC,COMPUTE_WH

In [64]:
import pandas as pd

In [65]:
df = pd.DataFrame({
    'LAST_NAME': ['Boal', 'Boal', 'Lester'],
    'FIRST_NAME': ['Paul', 'James', 'Sarahlynn']
})

In [66]:
from snowflake.connector.pandas_tools import write_pandas

con.cursor().execute('create table if not exists NAMES (LAST_NAME varchar, FIRST_NAME varchar)')

write_pandas(con, df, 'NAMES')

(True,
 1,
 3,
 [('cgqgsudyan/file0.txt', 'LOADED', 3, 3, 1, 0, None, None, None, None)])